mixin link(href, name)
  a(class!= attributes.class href= href)= name

mixin article(title="webm-test-data")
  article.article
    h1= title

mixin paragraph(tag, content)
  if tag === "p"
    p= `${content}`

mixin list(type, ...items)
  div(class!= attributes.class)
    each item in items
      label.container= `${item}`
        input(type=`${type}`)
        span.checkmark

mixin input(placeholder, name)
  input(class!= attributes.class type='text' placeholder=`${placeholder}` name=`${name}`)

mixin button(text)
  button(class!= attributes.class type='submit')= `${text}`

mixin card(content)
  .card-list__el
    figure.left
      img(src= `img/${content.image}`)
    .card-list__header
      .card-list__header_el-title= `${content.title}`
      .card-list__header_el-price= `${content.price_currency} ${content.price}`
    .card-list__el-params
      block
    .card-list__footer
      .footer_el-dopparams= `${content.year}`
      .footer_el-dopparams= `${content.mileage} ${content.mileage_measure}`
      .footer_el-dopparams= `${content.axle_configuration}`

mixin content(param, ...items)
  span= `  ${param}: `
    each text in items
      i= `${text}`